<form action="/users/form" method="POST">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Enter name</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="ex:- rudheer">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Enter age</label>
        <input name="age" type="number" class="form-control" id="age" placeholder="ex:- 21">
    </div>
    <a href="/users/result" class="btn btn-primary" style="margin-bottom: 5px; margin-left:25px;">submit</a>
</form>