<section id="main">
	<!---Navbar----->
	<nav>
	<a href="#" class="logo">
		<img src="img/Covid-19.png"/>	
	</a>
	<input class="menu-btn" type="checkbox" id="menu-btn">
		<label class="menu-icon" for="menu-btn">
			<span class="nav-icon"></span>
		</label>

		<ul class="menu">
		<li><a href="#main">Home</a></li>	
		<li><a href="#precautions">Precautions</a></li>	
		<li><a href="#about">About us</a></li>	
		<li><a href="#contact">Contact</a></li>	
	</ul>
	<a href="https://www.covid19india.org/" target=" _blank"class="log">Covid Tracker</a>
	</nav>
    </section>
    <hr>
   <!--index-body-->
    <div class="content">
	<div class="model">
		<img src="img/covid-pic.png"/>	
	</div>

	<div class="main-text">
		<h1>Take Assesment</h1>
		<p>Take the assessment to check whether you are infected or not!</p>
	
		<a href="/users/form" class="check-btn">Check now</a>
	</div>
	</div>
	<!--precautions--->

	<section id="precautions">

	<div class="pre-text">
		<div class="pre-heading">
		<span>Health is Wealth</span>
		<h2>Precautions</h2>
		</div>
	
		<div class="p-box-container">
	
		<div class="pre-box">

		<div class="pre-box-icon">
           <i class="fas fa-hands-wash"></i>
		</div>
		<div class="pre-box-text">
		<strong>Sanitize hands</strong>
		<p>Proper sanitization of hand very 30-40mins will stop the viral infection to tranfer</p>
		</div>
		</div>

		<div class="pre-box">

		<div class="pre-box-icon">
			<i class="fa fa-handshake-slash"></i>
			
		</div>
	
		<div class="pre-box-text">
		<strong>Social-Diatnce</strong>
		<p>Prpper distance must be maintained between two person. </p>
		</div>
		</div>
	
		<div class="pre-box">
	
		<div class="pre-box-icon">
			<i class="fa fa-head-side-mask"></i>
		</div>

		<div class="pre-box-text">
		<strong>Wear Mask</strong>
		<p>Wearing mask will stop the infection to tramsit to other people.</p>
		</div>
		</div>
			
			
		</div>
	</div>
   <div class="pre-img">
	<img src="img/pre-health.png"/>	
	</div>
	</section>
	<hr>
<!---about ----->
	 <section id="about"> <div class="about-content" >
	<div class="about">
		<img src="img/about.png"/>	
	</div>

	<div class="about-main-text">
		<h1>About us</h1>
		<p>This applicatiopn is created using html,css,javascript,nodejs.Use this self-assessment tool to help determine whether you need to be tested for COVID-19. You can complete this assessment for yourself or on behalf of your friend or family memeber.<br>
		This application is developed during the hackerRam hackathon.</p>
	
	
	</div>
	</div>
</section>

	<section id="contact">
	<h3>Covi-Check</h3>

	
		<div class="contact-input">

		<input type="email" placeholder="Enter mail"/>
		<a href="#">Subscribe</a>
	</div>
	<h5>Email:covicheck@gmail.com  <span> Contact Number-+918459437539 </span></h5>
	</section>
	<!--footer--------->
	<footer>
	<p>Covi-check website </p>
	<ul class="social">
     <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
      
      

      
    </ul>
	<p>Copyright @ 2021 - Team Covi-check</p>
	</footer>
  

